* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: linear-gradient (to right, #0057b3fd, #04a334fd);
    /* Main blue color for the header */
    position: fixed;
    width: 100%;
    height: 100px;
    /* Used to enable scrolling */
    background: rgba(7, 7, 109, 0.205);

}

.logo h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    display: flex;
    height: 100px;
    width: 100px;
    margin-left: 5rem;

}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px; 
    
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.5s ease;

}

nav ul li a:hover {
    background:  #4485cf;
    /* Darker shade of blue on hover */
    border-radius: 5px;
    color: #fff;

}


/* 
.bg-img {
    height: 100vh;
    width: 100%;
    margin-top: 6rem;
    bottom: 0;
}

.hero-text {
  
    margin-top: -35%;
    margin-left: 10%;
    font-family: sans-serif;
    background: white;

}

.hero-text h1 {
    font-size: 70px;
    color: #2C5087;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.myName span {
    color: #F5D905;
}

.hero-text a {
    background: #054580;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 18px;
    margin-top: 15px;
}

.hero-text a:hover {
    background: #E3D417;
    color: #054580;
    transition: .5s es;
}

.hero-text h3 {
    color: #054580;
} */

.hero-img {
    width: 30%;
    height: 60%;
    position: absolute;
    bottom: 0px;
    left: 100px;
    margin-bottom: -40rem;
    margin-left: 25rem;
}



/* New Hero Section */

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2c3f55; */
    /* background-image: url(../assets/images/asset\ 18.png); */
    background-image: url(../assets/images/bg-img.jpg);
}

.hero-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.left {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    color: white;
    padding-left: 10rem;
    margin-top: 15rem;
}


.typing-text {
    font-size: 3rem;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 7s steps(20, end) infinite, blink 0.7s step-start infinite;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 14ch; /* Adjust to match the length of your text */
    }
    100% {
      width: 0; /* Retract to restart the typing */
    }
  }

  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }

.right {
    flex: 1;
    position: relative;
    overflow: hidden;
    padding-top: 20rem;
    margin-top: 5rem;
}

.image-container {
    position: absolute;
    margin-top: 7rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fade 9s infinite;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
}

.image-container img:nth-child(1) {
    animation: image-fade 9s infinite;
}

.image-container img:nth-child(2) {
    animation: image-fade 9s 3s infinite;
}

.image-container img:nth-child(3) {
    animation: image-fade 9s 6s infinite;
}

@keyframes image-fade {

    0%,
    100% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.my-img {
    position: absolute;
    height: 40vh;
    width: 400px;
    border-radius: 30px;
    /* right: 40%; */
    /* transform: translate (10%); */
    bottom: 0;
    /* transition: left 5s ease; */
    margin-bottom: -55%;
    margin-left: 25%;
    /* background: linear-gradient(#032492, rgb(5, 5, 65)); */
}

.my-img:hover {
    left: 55%;
    border-radius: 20px;
    border: solid;
    border-color: #054580;
    background: white;
}

.about-me {
    /* background: #cbe2f7 ; */
    height: 100vh;
    /* margin-top: 15%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    box-sizing: 10px;


}

.myName {
    display: block;
    background: linear-gradient(#032492, rgb(5, 5, 65));
    color: white;
    width: 40%;
    padding: 5%;
    margin-top: 5%;
    margin-right: 120%;
    margin-left: 30%;
    height: 10vh;
    text-align: left;
    padding-top: 1%;
    border-radius: 20px;
}

.myName:hover {
    color: #054580;
    background: white;
    transition: 1s ease;
}

.my-story {
    margin-left: 30%;
    margin-top: 30%;
}

.my-story p {
    margin-top: 5%;
}

.my-story h1 {
    color: #054680;
    background: linear-gradient(#032492, rgb(5, 5, 65));
    color: white;
    padding: 10px;
    width: 40%;
    border-radius: 20px;
    text-align: center;
}

.my-story h1:hover {
    background: white;
    color: #03218A
}

.skills-section {
    padding: 50px;
    text-align: center;
    margin-top: 5rem;
    justify-content: center;
}

.skills-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.skills-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  */
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.skill-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 200px;
}

.skill-item h3 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

.circle {
    width: 120px;
    height: 120px;
    background: conic-gradient(#054084 calc(var(--percentage) * 1%), #e0e0e0 calc(var(--percentage) * 1%));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.circle::before {
    content: attr(data-percentage) '%';
}

.demography {
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 18rem;
    gap: 40px;
    /* align-items: center; */
    background-color: #fff;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 10rem;

}

.cover-note {
    background-color: #cfd6f3;
    width: 100vw;
    height: 40vh;
    margin-top: -1.2rem;
    margin-left: -1.5rem;


}

.cover-note h2 {
    justify-content: center;
    padding: 20px;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
}

.cover-note p {
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;

}

.h-line {
    height: 2px;
    width: 50vw;
    margin-bottom: 10px;
    margin-left: 20rem;
}

.h-line2 {
    height: 2px;
    width: 10vw;
    margin-bottom: 5px;
    /* margin-left: 1rem; */
}




.card-header {
    background-color: #054084;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.card-header h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.card-body {
    padding: 20px;
}

.card-body ul {
    list-style-type: none;
}

.card-body li {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

.card-body .label {
    font-weight: bold;
    color: #054084;
    margin-right: 8px;
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
}


.myClients h1 {
    margin-top: 15%;
    margin-left: 16%;
    background: linear-gradient(#032492, rgb(5, 5, 65));
    width: 15%;
    padding: 1%;
    /* border-radius: 20px;  */
    text-align: center;
    color: #EDEDED;
    border-radius: 20px;
}

.logoScroll {
    border: rgb(195, 190, 240);
    column-gap: 40rem;
    justify-content: space-between;
    box-sizing: content-box;
    /* background-color: rgb(228, 228, 228);  */
}


.bg-img {
    height: 100vh;
    width: 100%;
    margin-top: 6rem;
    bottom: 0;
}

.bg-img2 {
    height: 80vh;
    width: 100%;
    margin-top: 6rem;
    bottom: 0;
    background-attachment: fixed;
}

.Why-Choose {
    margin-top: 3rem;
}

.mid-container {
    margin-left: 16%;
    background: linear-gradient(#032492, rgb(5, 5, 65));
    width: 20%;
    padding: 10px;
    padding-right: 10px;
    color: white;
    text-align: center;
    margin-top: 10%;
    border-radius: 20px;
}

.taglines {
    width: 20%;
    margin-top: -45%;
    margin-left: 15%;
    border: solid;
    background: #ffffff;
    color: #0B4C86;
    padding: 20px;
    text-align: center;
    border-radius: 20px;

}

/* .details-img { 
    display: flex inline-flexbox; 
    width: 20%;
    margin-top: -45%;
    margin-left: 15rem;
    border: solid;
    background: #ffffff;
    color: #0B4C86;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}  */

.details-img2 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -50rem;
    border-radius: 10rem;




}

.tag-txt {
    display: block;
    width: 20%;
    margin-top: 1rem;
    margin-left: 65%;
    border: solid;
    background: #ffffff;
    color: #0B4C86;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.tag-txt:hover {
    background: linear-gradient(#032492, rgb(5, 5, 65));
    color: white;
}

.taglines:hover {
    background: #054680;
    color: white;
    transition: 1s ease;
}

.tag-img {
    border: solid;
    background: #2E5991;
    color: white;
    transition: 1s ease;
    border-radius: 20%;
    margin-left: 15%; 
    margin-top: -8rem;
}

.tag-img:hover {
    background: white;

} 
.why-me-section{
    /* margin-top: 20rem; */
}

.h1-hover:hover {
    color: #F5D905;
}

.myServices {
    margin-left: 16%;
    background: linear-gradient(#2E5991, rgb(5, 5, 65));
    width: 20%;
    padding: 10px;
    padding-right: 10px;
    color: white;
    text-align: center;
    margin-top: 10%;
    border-radius: 20px;
}

.service-txt {
    display: inline-block;
    width: 20%;
    margin-top: 7%;
    margin-left: 10%;
    border: solid;
    /* background: #0B4C86; */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 8%;
    text-align: center;

}

.service-txt:hover {
    background: white;
    color: #03218A;

}


.service-sec {
    margin-top: -2rem;
    background: linear-gradient(#032492, rgb(5, 5, 65));
    height: 30%;
    text-decoration: white;

}


.service-sec-title {
    margin-bottom: -50px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    text-align: center;

}

/* .service-sec-title {
    color: white;
}  */

.projects {
    text-align: center;
    color: #03218A;
    margin-top: 3rem;
    justify-content: center;
    margin-left: 20rem;
}

.projects h1 {
    /* text-align: center; */
    color: #03218A;
    margin-top: 3rem;
    justify-content: center;
    padding-right: 18rem;

}

.proj-img-container {
    display: flex;
    width: 30vw;
    height: 45vh;
    gap: 20px;
    justify-content: center;
    padding: 5rem;
    padding-top: 2rem;
    padding-left: 15rem;
    margin-left: 5rem;


}

.projectImage {
    width: 400px;
}

/* .service-sec:hover {
    background: linear-gradient(#032492, rgb(5, 5, 65));
    height: 30%;
    text-decoration: white;

} */

/* newsletter begins here */

.newsletter {

    background: linear-gradient(#032492, rgb(5, 5, 65));
    height: 50vh;
    margin-top: 50%;
}

.subscription-form {
    margin-left: 35%;
    margin-top: -10%;
}

.subscription-txt {
    margin-top: -45%;
    color: white;
    padding-top: 50px;
    margin-left: 3rem;
    font-size: 50px;
 
}

.subscription-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 10px;
    margin-top: 10%;
    align-content: center;
    width: 40%;
}

.subscription-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #0917db;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.talk-button {
    background-color: #3498db;
    color: white;
    margin-top: 1rem;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.talk-button:hover {
    background-color: #E3D417;
}

/* 
.subscription-form-button1 { 
    display: flex;
    padding: 0.5rem 3rem;
    font-size: 16px;
    border: none;
    width: 10rem;
    background-color: #0917db;
    color: #ffffff; 
    margin-top: 1rem;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
} */

/* .subscription-form-button1:hover {
    background-color: #E3D417;
} */

.subscription-form button:hover {
    background-color: #E3D417;
}



.newsletter-bg {
    width: 100%;
    height: 70vh;
    margin-top: 10%;
}

/* social icons */

.social-icons {
    display: inline-flex;
    gap: -20px;
    width: 100vw;
    /* transition: left 2s ease;  */
    align-items: center;
    padding-right: 13rem;
    margin-top: 30px;
    background: rgb(11, 2, 48);
    justify-content: center;
    /* margin-right: 15rem; */
}

.social-icons h5 {
    padding: 10px;
    color: white;
    text-align: center;
    margin-left: 8rem;


}

.facebook {
    width: 20px;
    padding-left: 5px;


}

.facebook:hover {
    transition: left .2s ease;

}

/* .footer h5 {
    display: inline-block;
    color: white;
    padding-top: 25px;
    margin-left: 45%;

} */