* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: linear-gradient (to right, #0057b3fd, #04a334fd);
    /* Main blue color for the header */
    position: fixed;
    width: 100%;
    height: 100px;
    /* Used to enable scrolling */
    background: linear-gradient(55deg, #3b8edbd5 0%, #054680 51%, #032492 85%);

}

.logo h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo {
    display: flex;
    height: 100px;
    width: 100px;
    margin-left: 5rem;

}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.5s ease;
}

nav ul li a:hover {
    background-color: #EDEDED;
    /* Darker shade of blue on hover */
    border-radius: 5px;
    color: #0B4C86;
}



.bg-img {
    height: 100vh;
    width: 100%;
    margin-top: 6rem;
    bottom: 0;
}

.hero-text {
    /* display: flex; */
    margin-top: -35%;
    margin-left: 10%;
    font-family: sans-serif;
    background: white;

}

.hero-text h1 {
    font-size: 70px;
    color: #2C5087;
    .text-focus-in -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

.myName span {
    color: #F5D905;
}

.hero-text a {
    background: #054580;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 18px;
    margin-top: 15px;
}

.hero-text a:hover {
    background: #E3D417;
    color: #054580;
    transition: .5s es;
}

.hero-text h3 {
    color: #054580;
}

/* .hero-img {
    width: 30%;
    height: 60%;
    position: absolute;
    bottom: 0px;
    left: 100px;
}  */

.my-img {
    position: absolute;
    height: 15% right: 40%;
    transform: translate(-50%);
    bottom: 0;
    transition: left 2s ease;
    margin-bottom: -65%;
    margin-left: 25%;
    background: linear-gradient(#032492, rgb(5, 5, 65));



}

.my-img:hover {
    left: 55%;
    border-radius: 20px;
    border: solid;
    border-color: #054580;
    background: white;



}


.about-me {
    /* background: #cbe2f7 ; */
    height: 100vh;
    margin-top: 15%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    box-sizing: 10px;


}

.myName {
    display: block;
    background: linear-gradient(#032492, rgb(5, 5, 65));
    color: white;
    width: 40%;
    padding: 5%;
    margin-top: 5%;
    margin-right: 120%;
    margin-left: 30%;
    height: 10vh;
    text-align: left;
    padding-top: 1%;
    border-radius: 20px;
}

.myName:hover {
    color: #054580;
    background: white;
    transition: 1s ease;

}

.my-story {
    margin-left: 30%;
    margin-top: 30%;


}

.my-story p {
    margin-top: 5%;
}

.my-story h1 {
    color: #054680;
    background: linear-gradient(#032492, rgb(5, 5, 65));
    color: white;
    padding: 10px;
    width: 40%;
    border-radius: 20px;
    text-align: center;
}

.my-story h1:hover {
    background: white;
    color: #03218A
}


.skills {
    background: linear-gradient(#032492, rgb(5, 5, 65));
    height: 50vh;
    margin-top: 30%;
}

.skills-title {
    margin-left: 15%;
    padding: 2%;
    color: white;
}

#wowslider-container0 {
    margin-left: -15%;
    margin-top: 10%;
}

/* .name-anchor{
    text-decoration: none;
} */

.myName a {
    text-decoration: none;
}

.myClients h1 {
    margin-top: 15%;
    margin-left: 16%;
    background: linear-gradient(#032492, rgb(5, 5, 65));
    width: 15%;
    padding: 1%;
    /* border-radius: 20px;  */
    text-align: center;
    color: #EDEDED;
    border-radius: 20px;
}

.logoScroll {
    border: rgb(195, 190, 240);
}


.bg-img {
    height: 100vh;
    width: 100%;
    margin-top: 6rem;
    bottom: 0;
}

.bg-img2 {
    height: 80vh;
    width: 100%;
    margin-top: 6rem;
    bottom: 0; 
    background-attachment: fixed;


}

.Why-Choose {
    margin-top: 3rem; 
   

}

.mid-container {
    margin-left: 16%;
    background: linear-gradient(#032492, rgb(5, 5, 65));
    width: 20%;
    padding: 10px;
    padding-right: 10px;
    color: white;
    text-align: center;
    margin-top: 10%;
    border-radius: 20px;

}

.taglines {
    width: 20%;
    margin-top: -45%;
    margin-left: 15%;
    border: solid;
    background: #ffffff;
    color: #0B4C86;
    padding: 20px;
    text-align: center;
    border-radius: 20px;

}

.tag-txt {
    display: block;
    width: 20%;
    margin-top: 10%;
    margin-left: 65%;
    border: solid;
    background: #ffffff;
    color: #0B4C86;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.tag-txt:hover {
    background: linear-gradient(#032492, rgb(5, 5, 65));
    color: white;
}

.taglines:hover {
    background: #054680;
    color: white;
    transition: 1s ease;
}

.tag-img {
    border: solid;
    background: #2E5991;
    color: white;
    transition: 1s ease;
    border-radius: 20%;
    margin-left: 15%;
}

.tag-img:hover {
    background: white;

}

.h1-hover:hover {
    color: #F5D905;
}

.myServices {
    margin-left: 16%;
    background: linear-gradient(#2E5991, rgb(5, 5, 65));
    width: 20%;
    padding: 10px;
    padding-right: 10px;
    color: white;
    text-align: center;
    margin-top: 10%;
    border-radius: 20px;
}

.service-txt {
    display: inline-block;
    width: 20%;
    margin-top: 7%;
    margin-left: 10%;
    border: solid;
    background: #0B4C86;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 8%;
    text-align: center;

}

.service-txt:hover {
    background: white;
    color: #03218A;

}


.service-sec {
    margin-top: 20%;
    /* height: 20%; */

}


.service-sec-title {
    margin-bottom: -50px;
    color: #03218A;
    text-align: center;
    padding-top: 40px;

}

.service-sec-title {
    color: white;
}

.service-sec:hover {
    background: linear-gradient(#032492, rgb(5, 5, 65));
    height: 30%;
    text-decoration: white;

}

/* newsletter begins here */ 

.newsletter { 

    background: linear-gradient(#032492, rgb(5, 5, 65));
    height: 50vh;
    margin-top: 50%
}

.subscription-form {
    margin-left: 35%;
    margin-top: -10%
}

.subscription-txt {
    margin-top: -45%;
    color: white;
    padding-top: 50px;
    margin-left: -10%;
    font-size: 50px;
}

.subscription-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 10px;
    margin-top: 10%;
    align-content: center;
    width: 40%;

}

.subscription-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #0917db;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.subscription-form button:hover {
    background-color: #E3D417;
}



.newsletter-bg {
    width: 100%;
    height: 70vh;
    margin-top: 10%;
}

/* social icons */

.facebook{ 
    display: inline-flex; 
    gap: -20px;
    width: 40px; 
    /* transition: left 2s ease;  */
    align-items: center; 
    margin-left: 90px; 
    margin-top: 30px; 
    margin-right: 15%;
} 

.facebook:hover{
    transition: left .2s ease;
} 

.footer h5{ 
    display: inline-block;
    color: white; 
    padding-top: 25px;
    margin-left: 45%; 
    
} 

.social-icons{
    
}