nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    height: 71px;
    align-items: center;
    background-color: #0779E4; 

}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
} 

.text-white{
    color: hsl(0, 0%, 100%);
}

.hero{
    background-image: url(../images/hero-bg.png); 
    height: 100vh; 
    /* background-position: center;*/ 
    background-size: cover; 
    padding-top: 50px;
} 

.title{
    font-size: 50px; 
}

.subtitle{
    font-size: 16px;
} 

/* .hero-info{
    width: 85%; 
    padding-top: 48px; 
    margin: auto;
} 